<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Add Marks</label>
          <input type="email" class="form-control" name='marks' aria-describedby="emailHelp" placeholder="Add marks">
        </div>
 
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</body>
</html>